<%# filter form %>

<%= form_for :post, url: {action: "filter"}, html: {method: "get", class:"row g-3"} do |f| %>
   <div class="col-auto">
    <%= f.label "Find your area", :class => "form-control-plaintext" %>
   </div>
   <div class="col-auto">
    <%= f.select :location_id, Location.pluck(:name,:id), :include_blank => true, :class => "form-control" %>
   </div>
   <div class="col-auto">
    <%= f.submit "Filter!", :class => "btn btn-primary mb-3" %>
   </div>
<% end %>

