
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:wght@700&display=swap');


/*  default set */

body{
    font-family: 'Cabin', sans-serif;
    background-color:#f6f8fd
}


/*  animate charcter in home page */
.animate-charcter{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #000000 0%,
    #44107a 29%,
    #67b4dd 67%,
    #25f0a6 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  display: inline-block;
      font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/*  animate charcter in home page */

/*  eyes follow mouse */
.container-eyes {
    width: 150px;
    position: relative;
    cursor: pointer;
    margin:0 auto;
    top:120px;
  }
  
  .iris {
    position: absolute;
    width: 60px;
    height: 60px;
    border: 5px solid #333;
    background-color: #0077b6;
    border-radius:50%;
    left:40px;  
    top:30px;
  }
  
  .iris:before {
    content:"";
    position: absolute;
    background-color: #333;
    border-radius:50%;
    width:40px;
    height: 40px;
    top:22%;
    left:22%;
  }
  
  .iris:after {
    content:"";
    position: absolute;
    background-color: rgba(255,255,255,0.4);
    border-radius: 50%;
    width:15px;
    height:15px;
    top:35%;
    left:65%;
    box-shadow: -35px 20px rgba(255,255,255,0.4);
  }
  
  .eyeBall {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: white;
    border: 5px solid #333;
    border-radius:100% 0;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.3);
    transform: rotate(45deg);
    top:-10px;
    z-index:1;
    overflow: hidden;
  }
  
  .eyeLid {
    position: absolute;
    border-top: 5px solid #333;
    border-left: 5px solid #333;
    border-radius:100% 0;
    width: 150px;
    height: 150px;
    top:-30px;
    left:3px;
    transform: rotate(45deg);
    transition: .2s;
    z-index:10;
  }
  
/*  eyes follow mouse */


h2{
    font-size: 40px;
    margin-bottom: 30px;
}

input{
    display:block;
}

label{
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}


select{
    display: block;
}

textarea{
    display: block;
    width: 250px;      
}

p{
    white-space: pre-line;
}

nav{
    background-color: #ffffff;
    border-bottom: 1px solid #5b7db180;
}


.banner_image{

    width: 100%;
    
}

.home-title{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.416);
    border-radius: 30px;
    width: fit-content;
    top: 30%;
    right: 20%;
    padding: 30px;
}

.banner{
    margin: 0;
    width: 100%;
}

.col-6{
    padding: 0;
}

.logo{  
    width: 10%;
    margin: 50px 30px;
}





.title{
    font-size: 80px;
    margin-bottom: 30px;
}



.link_button{
    margin: 20px auto;
    border-radius: 20px;
    border: 0.5px solid rgb(175, 175, 175);
    font-size: 20px;
    text-decoration: none;
    padding: 5px 40px;
}

.link_button_small{
    margin-top: 50px;
    border-radius: 20px;
    border: 0.5px solid rgb(175, 175, 175);
    font-size: 20px;
    text-decoration: none;
    padding: 5px 30px;
}

.sign_up{
    background-color: #0d6efd;
    color: white;
}



.form_div{
    margin: 70px auto;
    width: 30%;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 30px rgb(143, 143, 143);
}



.no_margin{
    margin-left: 0;
}

.form_content_div{
    width: 250px;
    margin: 0 auto;
}

.content_main{
    width: 70%;
    margin: 30px auto;
   
}

.post_div_small{
    width: 30%;
    background-color: beige;
    border-radius: 20px;
    margin: 1.5%;
    box-shadow: 0px 0px 15px rgb(195, 195, 195); 
}

.single_post{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgb(195, 195, 195); 
    padding: 20px;
    margin-bottom:20px;
    position: relative;
}

.post-show-userImg{
    position: absolute;
    top: 50px;
    right: 30px;
    border-radius: 50%;
    width: 120px;
}
.single_comment{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.user_name_bottom{
    margin: 0;
    color: #0d6efd;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.add_comment_input{
    width: 60%;
    margin-bottom: 30px;
}

/* post page css style */



.post_content_div{
    width: 35%;
    margin: 30px auto;
    box-shadow: 0px 0px 15px rgb(195, 195, 195); 
    border-radius: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
}

.center_div{
    width:70%;
    margin: 0 auto;
}

.control{
    text-align: right;
    padding-top: 20px;    
}





/* scroll div in main page */

.scroll-div{
    overflow-y:scroll;
    height:80vh;
    
}


.icon{
    width: 20px;
}

.icon-index{
    
    width: 25px;
}

.card{
    margin-bottom: 10px;
}

.card:hover{
    box-shadow: 5px 5px 15px rgb(195, 195, 195);
}


.google-img{
    display: block;
    width: 30%;
    border-radius: 50%;
    margin: 5px auto;
}

.google-tag{
    margin: auto;
    text-align: center;
}

.google-link{
    margin-top: 5px;
}

.google-p{
    font-size: 15px;
    margin-bottom: 5px;
}

.post-img{
    width: 100%;
}

.thumb{
    width: 100%;
}


.card-text{
    background-color: rgb(242, 242, 242);
    margin-bottom: 3px;
    border: 1pt solid rgba(0, 0, 0, 0.062);
    border-radius: 5px;
    min-height: 24px;
}

.img-height{
    height:60%;   
}

.card-img-top{
    height: 100%;
    object-fit: cover;
}

.card-body{
    background-color: white;
}
.text-height{
    margin-bottom:20px;
}

label.form-control-plaintext{
    padding: 0;
    margin-left: 1.5%;
}

select#post_location_id{
    height: 38px;
}

select#post_status_id{
    height: 38px;
}

.add-margin-left{
    margin-left: 1.5%;
}

.text-align-right{
    text-align: right;
    margin-right: 6%;
}
.add-bottom-border{
    border-bottom: 1px solid #5b7db180;
}

.add-right-border{
    border-right: 1px solid #5b7db180;
}

.add-margin-bottom{
    margin-bottom: 15px;
}

.add-margin-top{
    margin-top: 15px;
}

.userImg-in-post{
    width: 100%;
    border-radius: 50%;
}

.text-align-center{
    text-align: center;
}

.only-comment{
    position: relative;
}

.button-bottom{
   position: absolute;
    bottom: 0;
    right: 20px;
}

.user_name_top{
    background-color: #edf4ed ;
}

.link-name-comment{
    margin-right: 20px;
    text-decoration: none;
}

.leave-comment{
    background-color: white;
    padding-left:20px;
    padding-right:20px;
}

.profile-img-post{
    width: 100%;
    border-radius: 50%;
}

.profile-img{
    display: block;
    margin: 10px auto;
    width:50%;
    border-radius: 50%;
}

.post-title{
    margin-bottom: 20px;
}

.completed{
    position: absolute;
    width: 20%;
    top:0;
    right: 0;
}

.completed-bottom{
    position: absolute;
    width: 20%;
    bottom:5%;
    right: 0;
}

.submit-buttom{
    margin: 20px auto;
}

.profile-img-left{
    margin-left: 0;
    margin-bottom: 10px;
    border-radius: 20px;
}




